#trash {
    color: rgb(206, 0, 0);
    position: absolute;
    right: 20px;
    font-size: 20px;
}

.changeName {
    margin: 20px;
    position: relative;
}

#changeName {
    display: inline;
}

#toDoNameChange {
    display: inline;
    width: 45%;
}

textarea {
    resize: none;
}

#textField {
    margin: 20px;
    position: relative;
    height: 60%;
}

#textArea {
    width: 98%;
    height: 80%;
}


#saveChange {
    background-color: seagreen;
    width: 160px;
    min-height: 30px;
    border-radius: 7px;
    border: none;
    outline: none;
    margin-top: 3px;
    margin-left: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    color: white;
  }
  
  #saveChange:hover, #closeButton:hover {
    background-color: gray;
    box-shadow: none;
  }