.toDoName {
    display: inline;
    width: 40%;
    position: absolute;
    top: -5px;
    margin-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.itemButtons {
    display: inline;
    padding: auto;
    margin-top: 10px;
    margin-right: 10px;
    right: 0;
    position: absolute;
}

.toDoItem {
    position: relative;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    margin: 10px 40px 10px 10px;
    height: 40px;
    width: 100%;
    border-radius: 5px;
}

.takeTodo {
    font-size: 20px;
    margin-right: 10px;
    color: forestgreen;
}

.backToDo {
    font-size: 20px;
    color: rgb(0, 54, 134);
    display: none;
}

.dots {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}

.wait {
    background: rgb(207, 207, 207);
}

.process {
    background-color: cyan;
}

.finished {
    background-color: green;
}

.takeTodo:hover {
    color: rgb(20, 224, 31);
}

.backToDo:hover {
    color:rgb(0, 102, 255);
}

.dots:hover {
    background-color:rgba(0, 0, 0, 0.384);
    border-radius: 3px;
}

.toDoName:hover {
    text-decoration: underline;
    cursor: pointer;
}

#trash:hover {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: red;
}

#moveBar {
    background-color: rgb(111, 134, 126);
    position: absolute;
    right: 0;
    width: 4px;
    height: 100%;
    cursor: ew-resize;
    display: none;
}

#content {
    display: inline;
    margin-right: 4px;
    padding-right: 20px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}